.container{
    display: flex;
    text-wrap: balance;
    flex-direction: column;
    margin: 30vh auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
}